.span9#edit-custom-ui-wrap
  .row-fluid
    %h3.span5 My UI Settings
    %p.span11.no-margin-left Change your UI settings
    .row-fluid.span12.no-margin-left.dashed-border
    .row-fluid
      .span12
        = render 'form'