%td 
  = time
%td 
  = di.name
%td 
  = di.model
%td
  - if report
    .btn.btn-mini.btn-custom-msg
      %a{:href => "#report_detail", 'data-reportid' => report._id, 'data-toggle' => 'modal', :onclick => "javascript:$('.modal_report_details').text('#{report.payload.to_json}')"}
        Message Detail
  - else
    (no details)

 
