/* ---------- Customers Index ---------- */

.machineshop-inner-container.customer_management {
  overflow:scroll;
}

#customer-index-wrap {
}

#add-customer {
  margin:6px;
}

#customer-search-box {
  background:url("magnifier-icon.png") 90% center no-repeat #efefef;
  background-size:20px 20px;
  border:1px solid #e6e6e6;
  box-shadow:none;
  -moz-box-shadow:none;
  -o-box-shadow:none;
  -webkit-box-shadow:none;
  height:30px;
  margin:12px 0 12px 12px;
  padding:0;
  padding-left:10px;
}

#customer-search-box ~ input[value=Search] {
  display:none;
}

/* ---------- Customer Edit ---------- */

#resend_login_email {
  height:40px;
  padding-left:10px;
}
