// Place all the styles related to the rules controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.sbt-btn {
  display:none;
}

#rule_wizard_contain {
  padding-left:20px;
}

#confirmation {
  word-wrap:break-word;
}

#rule-actions {
  background-color:#fff;
  margin-top:0;
}
