%td
  = time
%td
  = di.name
%td
  = di.device[:model]
%td
  - if report
    .btn.btn-mini.btn-custom-msg
      %a{:href => "#report_detail", 'data-reportid' => report._id, 'data-toggle' => 'modal', :onclick => "javascript:$('.modal_report_details').html('#{display_json(report.payload)}')"}
        Message Detail
  - else
    (no details)


